html(lang='en')
	head
		title Choorz - Home
		script(src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous")
		link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
		
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
	body
		.site-wrapper
			.site-wrapper-inner
				include navbar
				.container
					#accordion(role='tablist')
						each item in category
							.card
								div(id=`heading${item}`, class='card-header' role='tab')
									h5.mb-0
										a.btn.btn-secondary#chorebtn(data-toggle='collapse', href=`#collapse${item}`, role='button', aria-expanded='false', aria-controls=`collapse${item}`)
											| #{item}
								div(id=`collapse${item}`, class='collapse' role='tabpanel', aria-labelledby=`heading${item}`, data-parent='#accordion')
									.card-body
										ul.list-group.list-group-flush
											each chore in result
												if chore.dataValues.category === `${item}` 
													li.list-group-item
														a(id=`${chore.dataValues.description}`, class="choreDescription" role="button", data-toggle='modal', data-target='#exampleModalCenter') #{chore.dataValues.description}
														// Modal
														#exampleModalCenter.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
															.modal-dialog.modal-dialog-centered(role='document')
																.modal-content
																	.modal-header
																		h5#exampleModalLongTitle.modal-title Modal title
																		button.close(type='button', data-dismiss='modal', aria-label='Close')
																			span(aria-hidden='true') ×
																	.modal-body
																		| Good job on performing your chore! Your timer has been reset. You will receive an email notification if you haven't performed this chore again in one week.
																		//- #{intervalInteger} #{timePeriod}
																	.modal-footer
																		button.btn.btn-secondary(type='button', data-dismiss='modal') Close
			include footer
script.
	$(document).ready(() => {
		$('.choreDescription').click(function(e) {
			let choreDescription = this.id
				$.post('/countdown', {choreDescription: choreDescription}, (data) => {
					
				})
			})
		})

style
	include ../public/custom/general.css
	include ../public/custom/index.css